<div class="create-page">
  <mat-toolbar>
    <span>Adicionando pedido</span>
  </mat-toolbar>

  <div class="page-content">
    <div class="row">

      <div class="col-md-12">
        <form class="create-form" [formGroup]="addForm" novalidate (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Descrição" class="form-control" formControlName="descricao">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.descricao">
                  <mat-error
                    *ngIf="addForm.get('descricao').hasError(validation.type) && (addForm.get('descricao').dirty || addForm.get('descricao').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Desconto %" type="number" class="form-control" formControlName="desconto">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="fechado">
                  <input id="fechado" type="checkbox" class="input-style" formControlName="fechado">
                  Fechado?</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <mat-select placeholder="Produtos" class="form-control" [(ngModel)]="produto" [ngModelOptions]="{standalone: true}" >
                    <mat-option *ngFor="let produto of produtos" value="{{produto.id}}">{{produto.descricao}} - R$ {{produto.preco}} - {{produto.servico ? 'Serviço' : 'Produto'}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Quant." type="number" class="form-control" [(ngModel)]="quantidade" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
              </div>
            </div>            
            <div class="col-md-2">
                <button mat-raised-button class="submit-button" color="primary" type="button" (click)="addProduto()" >Add</button>
            </div>
          </div>


          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" type="button" color="basic" (click)="back()">
                <ion-icon name="home"></ion-icon> Cancelar
              </button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                [disabled]="!addForm.valid">Salvar</button>
            </div>
          </div>

        </form>

        <li *ngFor="let p of pedidoProdutos">
          {{ p.produto.descricao }}
          {{ p.produto }}
          {{ p.quantidade }}
        </li>
        
      </div>
    </div>
  </div>
</div>