<div class="edit-page">
  <mat-toolbar>
    <span>Editando produto</span>
  </mat-toolbar>

  <div class="page-content">
    <div class="row">

      <div class="col-md-12">
        <form class="edit-form" [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Descrição" class="form-control" formControlName="descricao">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.descricao">
                  <mat-error
                    *ngIf="editForm.get('descricao').hasError(validation.type) && (editForm.get('descricao').dirty || editForm.get('descricao').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Preço" type="number" class="form-control" formControlName="preco">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.preco">
                  <mat-error
                    *ngIf="editForm.get('preco').hasError(validation.type) && (editForm.get('preco').dirty || editForm.get('preco').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="servico">
                  <input id="servico" type="checkbox" class="input-style" formControlName="servico">
                  É serviço?</label>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="inativo">
                  <input id="inativo" type="checkbox" class="input-style" formControlName="inativo">
                  Inativo?</label>
              </div>
            </div>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" type="button" color="basic" (click)="cancel()">
                <ion-icon name="home"></ion-icon> Cancelar
              </button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                [disabled]="!editForm.valid">Salvar</button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button"
                (click)="delete()">Excluir</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>