<div class="create-page">
  <mat-toolbar>
    <span>Adicionando produto</span>
  </mat-toolbar>

  <div class="page-content">
    <div class="row">

      <div class="col-md-12">
        <form class="create-form" [formGroup]="addForm" novalidate (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Descrição" class="form-control" formControlName="descricao">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.descricao">
                  <mat-error
                    *ngIf="addForm.get('descricao').hasError(validation.type) && (addForm.get('descricao').dirty || addForm.get('descricao').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field class="input-style">
                  <input matInput placeholder="Preço" type="number" class="form-control" formControlName="preco">
                </mat-form-field>
                <ng-container *ngFor="let validation of validationMessages.preco">
                  <mat-error
                    *ngIf="addForm.get('preco').hasError(validation.type) && (addForm.get('preco').dirty || addForm.get('preco').touched)">
                    {{validation.message}}</mat-error>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <mat-checkbox class="input-style" formControlName="servico">É serviço?</mat-checkbox>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <mat-checkbox class="input-style" formControlName="inativo">Inativo?</mat-checkbox>
              </div>
            </div>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                [disabled]="!addForm.valid">Salvar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>